:root {
    --headcolor: #233142;
    --bg_color: #66bfbf;
    --txtcolor: #ececec;
}

* {
    font-family:'Trebuchet MS', Tahoma, Arial, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

footer {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

footer ul {
    display: inline-block;
    position: relative;
    right: 0px;
    font-size: 23px;
    margin-left: 5px;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 90px;
    background-color: var(--headcolor);
    color: var(--txtcolor);
}

header li {
    display: inline;
    position: relative;
    right: 80px;
    font-size: 25px;
    margin-left: 5px;
}

header a {
    text-decoration: none;
    color: var(--txtcolor);
    border-bottom: 5px solid var(--bg_color);
    padding: 10px;
}

section {
    display: flex;
}

div p {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: center;
}

section h2 {
    text-align: end;
}

.aboutme {
    border: 1px solid black;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.avatar {
    height: 200px;
    width: 200px;
}

.cool_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1%;
    background-image: url("https://rare-gallery.com/uploads/posts/5371114-screen-work-code-computer-technology-html-coding-text-css-data-monitor-silicon-slope-silicon-valley-ninja-typing-language-php-style-sheet-code-css-new-free-stock-photos.jpg");
    background-blend-mode: multiply;
    background-size: 100%;
    background-position: center;
    color: var(--headcolor);
}
  
.contact li {
    display:inline-flex;
}

.prework {
    position: relative;
    width: 70%;
    height: 70%;
    left: 20px;
    border: 5px solid var(--bg_color);
    filter: blur(1px);
}

.prework:hover {
    position: relative;
    width: 70%;
    height: 70%;
    left: 20px;
    border: 5px solid var(--bg_color);
    filter: blur(0px);
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 303px;
    background-color: var(--bg_color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.work {
    border: 1px solid black;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    position: relative;
}

#aboutme {
    display: inline-block;
    font-size: 50px;
    border-right: 5px solid var(--bg_color);
    height: 200px;
    padding: 1rem 1rem;
    vertical-align: middle;
}

#contact {
    font-size: 50px;
    border-bottom: 5px solid var(--bg_color);
    height: 50px;
    padding-bottom: 10px;
    margin: 10px;
}

#cool_stuff {
    width: 345px;
    padding: 10px;
    margin: 20px;
    position: relative;
    top: 10px; right: 50px;
    color: var(--txtcolor);
    background-color: var(--bg_color);
    font-size: 30px;
    text-align: center;
}

#name {
    display: flex;
    justify-content: right;
    position: relative;
    right: 5px;
    width: 500px;
    padding: 5px;
    font-size: 50px;
    color: var(--txtcolor);
    background-color: var(--bg_color);
}

#paragraph {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
}

#work {
    display: inline-block;
    font-size: 50px;
    border-right: 5px solid var(--bg_color);
    height: 200px;
    padding: 1rem 1rem;
    vertical-align: middle;
}